
*.pyc
*.gz
*.tar
*.deb
**/build/output
**/sbom/data
**/pypi/data
**/yara/downloads
**/cvecpes/data
**/github/data
**/malwares/data
**/infoleaks/data
**/load.tmp/
**/build/release
**/docker/images
**/makedeb/releases
**/v2/web/
**/ip/*.bin
**/tests/*.so
**/angr-dev
*.xlsx
*.spdx
*.cyclonedx

*.dat
documents/Digitaltwins 3.0竞品对比.pdf
documents/DigitalTwins 3.0白皮书.pdf
appdata/license.dat
appdata/oss/*

web/dist
web/src/.umi*
web/.*

yara/
**/zeroday
**/symbol
**/ai
**/ml